node_modules
app/storage/*
sftp-config.json
.env
*.pem
.pem
.logs
.project
app/data
.sql
modules/*
.cache
app/controllers/*
app/models/*
app/routes/*
app/assets/*
doc/tests/results/*
app/views/public/*
